@import url("https://cdn.syncfusion.com/ej2/material.css");
@import './css/fonts.css';


*, *::before, *::after {
    font-family: Teko, sans-serif;
  }


h1 {
    color: #B79F25;
    font-size: 26px;
}

button {
    all: unset;
    padding: 6px;
}